anaconda-client
appdirs
asgiref
conda
conda-build
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
sqlparse
statsmodels
tables
TBB
gunicorn
whitenoise
tzdata
psycopg2
Pillow==9.4.0